.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 100; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #2c4047;
  overflow-x: hidden;
  padding-top: 20px;

  border-right: solid white;
}
.sidebar > .section-close {
  width: 75px;
}
.sidebar > .section-open {
  width: 550px;
}

.toggle-button {
  border: none;
  color: white;
  background: transparent;
  width: 70px;
  height: 40px;
  cursor: pointer;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 60px;
  font-size: 100px;
}
