.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.search {
  width: 600px;
  height: 40px;
  border-radius: 8px 0 0 8px;
  border: solid 1px #e4e4e4;
  outline: none;
  padding: 4px 8px;

  display: inline-block;
}
.search-icon {
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  background-color: #00c385;
  color: white;
  display: flex;
}
.container {
  padding: none;
  display: flex;
  margin: 20px 160px 0px 300px;
}
.cart {
  height: 40px;
  width: 170px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  background-color: #00c385;
  color: white;
  display: flex;
  margin: 0px 180px 0px 180px;
}
.help {
  height: 40px;
  width: 170px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  color: black;
  display: flex;
  margin-right: 90px;
}
