.logo {
  width: 74px; /* Set the desired width for the icon */
  height: 70px; /* Set the desired height for the icon */
  display: inline-block; /* Ensures the image occupies only the necessary space */

  margin-left: 300px;
}
.codelogo {
  display: flex;
  flex-direction: column;
}
