.navbar {
  background-color: #2c4047;
  margin-left: 75px;
}
.logo {
  width: 74px; /* Set the desired width for the icon */
  height: 74px; /* Set the desired height for the icon */
  display: inline-block; /* Ensures the image occupies only the necessary space */

  background: transparent;
  margin-left: 250px;
}
