.Hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #00c385;
  margin: 0 auto;
  width: 70%;

  height: 350px;
  text-align: left;
  padding: 40px;
  color: white;
}
.banner {
  margin-right: 150px;
}
.details {
  font-size: 20px;
  margin: 0;
  width: 600px;
}
.hero-img {
  width: 120px;
  height: 120px;
  margin: 0px 105px 0px 50px;
  vertical-align: middle;
}
.Intro {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 8px;
}
.merch {
  margin-top: 0;
  font-size: 60px;
  margin-bottom: 20px;
}
